.app {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, main content, footer */
  min-height: 100vh; /* Ensure it takes at least full viewport height */
}

.header {
  grid-row: 1; /* Place in the first row */
  background-color: #f8f9fa;
}

.main-content {
  grid-row: 3; /* Place in the second row */
  padding: 1rem;
}

.logo img {
  width: 400px;
  margin-right: 10px;
}

.hero {
  grid-row:4;
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-cards {
  display: grid; 
  grid-row:5;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Auto-fit columns with minimum width */
  gap: 1rem; /* Add space between cards */
  padding: 1rem; /* Optional padding */
}

.info-card {
  width: 300px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.nav {
  grid-row:2;
}